


.title-Nu {
  color: var(--color-Nu);
  height: 20px;
  font-size: 24px;  
position: relative;
top: 75px;
right: -25px;
}

.title-Kenzie {
  color: var(--color-Kenzie);
  font-size: 24px;
  position: relative;
  top: 23px;
  left: 70px;
}

.description1 {
  color: #FFFFFF;
  position: relative;
  right: -25px;
  font-family: 'Nunito', sans-serif;
font-size: 38px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0em;
text-align: left;

}

.quick {
  color: #FFFFFF;
  position: relative;
  right: -23px;
}

.Start {
  border: 1px solid var(--color-button);
  background-color: var(--color-button);
  color: #FFFFFF;
  width: 320px;
  height: 48px;
  border-radius: 8px;
  position: relative;
  right: -19px;
  top: 8px;
}

.homePage {
  background-color: var(--color-background);
  margin:  -22px;
  height: 875px;
  font-family: 'Inter', sans-serif;
  width: 400px;
  position: relative;
  left: 10px;
}

.background-white {
  position: relative;
  top: 100px;
  left: 34px;
}

.Side-Top {
  position: relative;
  left: 133px;
  width: 267px;
  margin: -95px;
}

main {
  font-family: 'Inter', sans-serif;
}




@media (min-width:1000px) {
  .homePage {
    width: 199.237443vh;
    height: 104vh;
    }

  .Side-Top {
    position: relative;
    top: 200px;
    left: 570px;
  }
  .background-white{
    position: relative;
    left: 1000px;
    height: 600px;
    top: -145px;
  }


  

  
}