.title-Nu {
  color: var(--color-Nu);
  height: 20px;
  font-size: 24px;
  position: relative;
  top: 75px;
  right: -25px;
}

.title-Kenzie {
  color: var(--color-Kenzie);
  font-size: 24px;
  position: relative;
  top: 23px;
  left: 70px;
}

.description1 {
  color: #FFFFFF;
  position: relative;
  right: -25px;
  font-family: 'Nunito', sans-serif;
  font-size: 38px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 165%;
  width: 94vw;
}



.quick {
  color: #FFFFFF;
  position: relative;
  right: -23px;
}

.Start {
  border: 1px solid var(--color-button);
  background-color: var(--color-button);
  color: var(--color-Kenzie);
  width: 320px;
  height: 48px;
  border-radius: 8px;
  position: relative;
  right: -19px;
  top: 8px;
}

.homePage {
  background-color: var(--color-background);
  height: 103vh;
  font-family: 'Inter', sans-serif;
  width: 135vw;
  position: relative;
  left: 10px;
  max-width: 100%;
}


.background-white {
  position: relative;
  top: 100px;
  left: 34px;
}

.Side-Top {
  width: 16.688rem;
  margin: -95px;
}

main {
  font-family: 'Inter', sans-serif;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0px;
}




@media (min-width:1000px) {
  .homePage {
    width: 120.60rem;
    height: 104vh;
  }

  .Side-Top {
    position: relative;
    top: 183px;
    left: -145px;
    width: 22vw !important;
    height: 83vh !important;
    max-height: 100% !important;
    max-width: 100% !important;
  }

  .background-white {
    position: relative;
    left: 655px;
    height: 662px;
    top: 245px;
  }







}


@media (min-width: 1600px)
{
  .background-white {
      position: relative;
      left: 800px !important;
      top: 300px !important;
  }
}


@media (min-width: 2400px)
{
  .background-white {
      position: relative;
      left: 1000px !important;
      top: 200px !important;
  }
}