.title-Nu {
  color: var(--color-Nu);
  height: 1.25rem;
  font-size: 24px;
}

.title-Kenzie {
  color: var(--color-Kenzie);
  font-size: 24px;

}

.description1 {
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 38px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 100%;
 
}



.quick {
  color: rgba(255, 255, 255, 1);

}

.Start {
  border: 1px solid var(--color-button);
  background-color: var(--color-button);
  color: var(--color-Kenzie);
  height: 48px;
  width: 280px;
  border-radius: 8px;
}



.homePage {
  background-color: rgba(33, 37, 41, 1);
  min-height: 953px;
  font-family: 'Inter', sans-serif;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  top: 0px;
  width: 720px;
  max-height: 100%;
  min-width: 320px;
  
 
}
.titles {
  display: flex;
  gap: 10px;
}

.background-white {

  height: 20rem;

}

.Side-Top {
 display: flex;
 flex-direction: column;
 gap: 30px;
 padding: 1px 1px 1px 25px;
 max-height: 100%;
 max-height: 100%;
 min-width: 300px;

}

main {
  font-family: 'Inter', sans-serif;
}

.side {
  display: flex;
  gap: 20px;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  top: 60px;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

@media (max-height:667px) {

  .Side-Top {
    position: relative;
    top: -55px;
    right: 17px;
  }
  .background-white {
    position: relative;
    bottom:70px;
    max-width: 100%;

  }
}


@media (min-width:700px) {
  .side {
    display: flex;
    flex-direction: row;
  }
  .homePage{
    position: relative;
    top: 0px;
    max-width: 100%;
    width: 100vw;
    max-height: 100%;
    height: 100vh;
  }

  .Side-Top {
    position:relative;
    left: 40px;
  }
  .Start {
  width: 200px;
  }

  .background-white {
    height: 27rem;
  }
  .description1 {
    max-width: 80%;
  }
  .side {
    position: relative;
    top: 260px;
  }
}
@media (min-width:1300px) {
  .side {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 130px;
  }
  .homePage{
    position: relative;
    top: 0px;
    max-width: 100%;
    width: 100vw;
    max-height: 100%;
    height: 100vh;
  }

  .Side-Top {
    position:relative;
    left: 150px;
    top: 100px;
  }

  .background-white {
    height: 35rem;
    position: relative;
    right: 8px;

    
  }

}


@media (min-width:1600px) {
  .side {
    display: flex;
    flex-direction: row;
  }
  .homePage{
    position: relative;
    top: 0px;
    max-width: 100%;
    width: 100vw;
    max-height: 100%;
    height: 100vh;
  }

  .Side-Top {
    position:relative;
    left: 350px;
    top: 100px;
  }

  .background-white {
    height: 35rem;
    position: relative;
    right: -340px;

    
  }

}