.container {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
}

.title-nu {
    position: relative;
    top: 15px;
    left: 15px;
    color:var(--color-button);
    font-size: 24px;
    font-family: 'Inter', sans-serif;
font-family: 'Nunito', sans-serif;

}

.titles-dash {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    width: 30vw;
    height: 9vh;
}


.title-kenzie {
    color: #212529;
    top: -12px;
    position: relative;
    left: 24px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;
    top: 15px;
}

.logout {
    position: relative;
    left: 240px;
    bottom: 50px;
    max-width: 30%;
    max-height: 100%;
    width: 25vw;
    height: 4vh;
    background-color: rgba(233, 236, 239, 1);
    font-family: 'Nunito';
    font-size: 14px;
    color: black;
    border: 1.4px solid #E9ECEF;
border-radius: 8px;
}

.header {
    background: #F8F9FA;
box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
    height: 100vh;
    max-height: 7%;
    max-width: 100%;
    width: 100vw;

}

.description {
    position: relative;
    left: 20px;
    color: #212529;    width: 30px;
    height: 30px;
    top: 25px;
    font-size: 12px;
    font-family: 'Inter';
    font-style: normal;
}


form {
    max-width: 100%;
    max-height: 100%;
    width: 93vw;
    height: 35vh;
    border: 1px solid #E9ECEF;
    position: relative;
    top: 15px;
    left: 5px;
    border-radius: 4px;
}

.form {
    
    left: 70px;
}

.input {
    border: 2px solid #F8F9FA;
    max-width: 100%;
    max-height: 100%;
    height: 7vh;
width: 82vw;
border-radius: 8px;
padding: 0px 16px 0px 16px;
background: #F8F9FA;
border-radius: 8px;
position: relative;
left: 17px;
top: 20px;
color: black;

}

.ex {
    color: #868E96;
    font-size: 12px;
    font-family: 'Inter';
    position: relative;
    left: 15px;
    top: 26px;
}

.value {
    font-size: 12px;
    font-family: 'Inter';
    color: #212529;
    position: relative;
    left: 15px;
    top: 40px;
}

.input-value {
    position: relative;
    left: 13px;
    top: 50px;
    border: 2px solid #F8F9FA;
    max-width: 80%;
    max-height: 100%;
    height: 5vh;
width: 50vw;
border-radius: 8px;
padding: 0px 16px 0px 16px;
justify-content: space-between;
background: #F8F9FA;
color: black;

}


.RS{
    color: black;
    position: relative;
    left: 120px;
    top: 18px;
  
   
    width: 30px;
}

.type-name {
    color: #212529;
    position: relative;
    left: 190px;
    bottom: 36px;

    font-size: 12px;
    width: 78px;
}


select {
    position: relative;
    left: 185px;
    bottom: 20px;
    background: #F8F9FA;
    border: 2px solid #F8F9FA;
    border-radius: 8px;
    color: black;
    max-width: 100%;
    max-height: 100%;
    width: 30vw;
    height: 3vh;
}

option {
    color: black;
}

.set-value {
    

    background-color: #FD377E;
    color: white;
    border: 2px solid #FD377E;
    border-radius: 8px;
    max-width: 69%;
    max-height: 100%;
    width: 100vw;
    height: 5vh;
    position: relative;
    bottom: 70px;
    left: 25px;
}


.list{
    width: 20rem;
 
}

.list-total {
    border: 2px solid #E9ECEF;
    width: 93vw;
    position: relative;
    left: 5px;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    height: 10vh;
    max-width: 272%;
    
    max-height: 100%;
}

.value-total {
    color: #212529;
    position: relative;
    top: 20px;
    left: 15px;
    
   
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;    font-size: 16px;
}
.money {
    width: 55px;
  position: relative;
    color: #FD377E;
    left: 230px;
}

.Ref {
    color: black;
    position: relative;
    
    font-size: 12px;
    top: 10px;
    left: 15px;

}


h5 {
    position: relative;
    left: 18px;
        color: #212529;
    font-size: 16px;
    top: 20px;
    
}


.click-title {
    color: black;
    color: black;
    
    left: 40px;
    bottom: 20px;
}
.click-type {
    color: #343A40;
    font-size: 12px;
    font-family: 'Nunito';
    font-style: normal;
    
    left: 36px;
    bottom: 43px;
}
.click-money {
    color: #212529;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    
    left: 34px;
    bottom: 30px;
}

.trash {
    width: 10px;
   
}

.trash-btn {
    background-color: #E9ECEF;
    
    left: 40px;
    height: 20px;
    width: 28px;
    font-size: 0px;
    top: -5px;
}


.set-click {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    height: 150px;
  
}



.title-before {
    color: #343A40;
    font-size: 22px;
    position: relative;
    left: 18px;
    top: 40px;
}


.hidden {
    display: none;
}

ul {
    width: 356px;
    
    left: 29px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: -35px;
    overflow-y: scroll 2px solid;
}

.list-scroll{
    position: relative;
    top: 40px;
    left: 20px;
    overflow-y: scroll;
    max-height: 264px;
    max-width: 249%;
    width: 104vw;
 }


 .list-click {
    height: 30px;
 }


 ul > li {
    display: flex;
    flex-direction: column;
    border-left: 7px solid #03B898;
    
    left: -30px;

 }

 .resolved-background {
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
 }


@media (min-width:900px) {
    .input {
        max-width: 100%;
        width: 35vw;
    }
    select {
        max-width: 100%;
        width: 15vw;
    }
    .input-value {
        max-width: 100%;
        width: 15vw;
    }
    .set-value {
        width: 89vw;
        max-width: 34%;
    }

    .logout {
        width: 10vw;
        position: relative;
        left: 800px;
    }
    form {
        max-width: 100%;
        max-height: 100%;
        width: 40vw;
    }

    .title-before {
        position: relative;
        left: 450px;
        top: -400px;
        width: 50vw;
        max-width: 150%;

    }

    .resolved-response {
        max-width: 100%;
        max-height: 10%;
        width: 100vw;
        height: 100vh;
    }

    h5 {
        position: relative;
        left: 453px;
        top: -430px;
    }

    .list-total {
        width: 40vw;
        max-width: 276%;
    }

    .list-scroll {
        position: relative;
        width: 500vw;
        max-width: 140%;
        left: 450px;
        top: -1279px;
        max-height: 3600%;
    }
}


@media (min-width:1100px) {
       .title-before {
        position: relative;
        left: 600px;
       } 
       .input-value {
        max-width: 95%;
        width: 13vw;
       }

       h5 {
        position: relative;
        left: 600px;
       }
       .list-scroll {
        position: relative;
        left: 600px;
       }
}
@media (min-width:1500px)
{
    .title-before {
        position: relative;
        left: 1000px;

    }

    .input-value {
        max-width: 25%;
    }

    h5 {
        position: relative;
        left: 1000px;
    }

    .list-scroll 
    {
        position: relative;
        left: 1000px;
    }

    .logout {
        width: 5vw;
        position: relative;
        left: 1400px;
    }

    .titles-dash {
        position: relative;
        left: 100px;
    }
    .form {
        position: relative;
        left: 105px;
    }
    .list-total {
        position: relative;
        left: 105px;
    }
}


@media (min-width:1800px) {
   
    h5 {
        position: relative;
        top: -470px;
    }
    .list-scroll {
        position: relative;
        top: -1400px;
    }
    .input-value {
        max-width: 20%;
    }
}

