.container {
    width: 185vw;
    height: 155vh;
    margin: 0px;
    position: fixed;
    max-width: 137%;
    max-height: 113%;
    background-color: white;
}

.title-nu {
    position: relative;
    left: 135px;
    top: 22px;
    color:var(--color-button);
    font-size: 24px;
}


.title-kenzie {
    color: #212529;
    position: relative; 
    top: -21px;
    left: 180px;
    font-size: 24px;
}

.logout {
    position: relative;
    left: 350px;
    top: -68px;
    background-color: #E9ECEF;
    font-family: 'Nunito';
    font-size: 14px;
    color: black;
}

.header {
    box-shadow: 0px 4px 32px -12px #00000040;
    height: 7vh;
    max-height: 100%;
    max-width: 100%;
    width: 243vw;
    position: relative;
    top: -15px;
}

.description {
    position: relative;
    left: 16px;
    color: #212529;    width: 30px;
    height: 30px;
    font-size: 12px;
    font-family: 'Inter';
    font-style: normal;
}


form {
    width: 314px;
    height: 350px;
    border: 1px solid #E9ECEF;
    position: relative;
    top: 10px;
    left: 44px;
    border-radius: 4px;
}

.form {
    position: relative;
    left: 70px;
}

.input {
    border: 2px solid #F8F9FA;
    height: 52.80000305175781px;
width: 260px;
border-radius: 8px;
padding: 0px 16px 0px 16px;
background: #F8F9FA;
border-radius: 8px;
position: relative;
left: 5px;
color: black;

}

.ex {
    color: #868E96;
    font-size: 12px;
    font-family: 'Inter';
    position: relative;
    left: 10px;
    top: -10px;
}

.value {
    font-size: 12px;
    font-family: 'Inter';
    color: #212529;
    position: relative;
    left: 10px;
}

.input-value {
    border: 2px solid #F8F9FA;
    height: 48px;
width: 128px;
left: 0px;
top: 31px;
border-radius: 8px;
padding: 0px 16px 0px 16px;
justify-content: space-between;
background: #F8F9FA;
color: black;

}


.RS{
    color: black;
    position: relative;
    bottom: 53px;
    left: 130px;
    width: 30px;
}

.type-name {
    color: #212529;
    position: relative;
    left: 200px;
    bottom: 145px;
    font-size: 12px;
    width: 78px;
}


select {
    position: relative;
    left: 205px;
    bottom: 130px;
    background: #F8F9FA;
    border: 2px solid #F8F9FA;
    border-radius: 8px;
    color: black;
}

option {
    color: black;
}

.set-value {
    position: relative;
    left: 69px;
    bottom: 60px;
    background-color: #FD377E;
    color: white;
    border: 2px solid #FD377E;
    width: 250px;
}


.list{
    width: 20rem;
    position: relative;
    left: 80px;
}

.list-total {
    border: 2px solid #E9ECEF;
    width: 315px;
    position: relative;
    left: 40px;
}

.value-total {
    color: #212529;
    position: relative;
    left: 10px;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;    font-size: 16px;
}
.money {
    position: relative;
    left: 253px;
    width: 55px;
    bottom: 39px;
    color: #FD377E;
    

}

.Ref {
    color: black;
    position: relative;
    left: 8px;
    font-size: 12px;
    bottom: 50px;

}


h5 {
    position: relative;
    left: 40px;
        color: #212529;
    font-size: 16px;
    bottom: 24px;
}


.click-title {
    color: black;
    color: black;
    position: relative;
    left: 40px;
    bottom: 20px;
}
.click-type {
    color: #343A40;
    font-size: 12px;
    font-family: 'Nunito';
    font-style: normal;
    position: relative;
    left: 36px;
    bottom: 43px;
}
.click-money {
    color: #212529;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    position: relative;
    left: 34px;
    bottom: 30px;
}

.trash {
    width: 10px;
   
}

.trash-btn {
    background-color: #E9ECEF;
    position: relative;
    left: 40px;
    height: 20px;
    width: 28px;
    font-size: 0px;
    top: -5px;
}


.set-click {
    position: relative;
    right: 27px;
    bottom: 0px;
    height: 150px;
  
}



.title-before {
    color: #343A40;
    font-size: 22px;
    position: relative;
    left: 48px;
}


.hidden {
    display: none;
}

ul {
    width: 356px;
    position: relative;
    left: 29px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: -35px;
    overflow-y: scroll 2px solid;
}

.list-scroll{
    overflow-y: scroll;
    max-height: 264px;
 }


 .list-click {
    height: 30px;
 }


 ul > li {
    display: flex;
    flex-direction: column;
    border-left: 7px solid #03B898;
    position: relative;
    left: -30px;

 }

 .resolved-background {
    background-color: #FFFFFF;
    height: 101vh;
    width: 135vw;
 }





/* FAZENDO GANBIARRA E NAO BOAS PRÁTICAS COM O MEDIA SCREEN PORQUE NÃO INICIEI O PROJETO COM VW VH  */



@media (min-width:375px) {
    .header {
        position: relative;
        left: 35px !important;
        top: -18px;
    }
    .logout {
        position: relative;
        left: 400px;
    }

    .form {
        position: relative;
        left: 130px;
    }

    .list {
        position: relative;
        left: 130px;
    }
}


@media (min-width:425px){
    .header {
        position: relative;
        left: 60px !important;
    }
    .logout {
        position: relative;
        left: 420px;
    }

    .form {
        position: relative;
        left: 170px;
    }

    .list {
        position: relative;
        left: 170px;
    }
}


@media (min-width:500px){
    .header {
        position: relative;
        left: 100px !important;
    }
    .logout {
        position: relative;
        left: 520px;
    }

    form {
        position: relative;
        left: 40px;
        width: 95vw !important;
    }

    .list {
        position: relative;
        left: 235px;
        width: 441px;
        height: 389px;
    }

    .set-value {
        position: relative;
    left: 60px;
    bottom: 60px;
    background-color: #FD377E;
    color: white;
    border: 2px solid #FD377E;
    width: 450px;
    }

    .input {
        width: 400px;
        position: relative;
        left: 13px;
        bottom: 15px;
    }

    select{
        position: relative;
        left: 200px;
        bottom: 120px;
        background: #F8F9FA;
        border: 2px solid #F8F9FA;
        border-radius: 8px;
        color: black;
        width: 250px;
    }
    .type-name {
        color: #212529;
        position: relative;
        left: 200px;
        bottom: 145px;
        font-size: 12px;
        width: 78px;
    }
}


@media (min-width:680px){
    .header {
        position: relative;
        left: 200px !important;
    }
    .logout {
        position: relative;
        left: 720px;
    }

    form {
        position: relative;
        left: 140px;
        width: 95vw !important;
    }

    .list {
        position: relative;
        left: 312px;
        width: 731px;
        height: 389px;
    }

    .set-value {
        position: relative;
    left: 150px;
    bottom: 60px;
    background-color: #FD377E;
    color: white;
    border: 2px solid #FD377E;
    width: 700px;
    }

    .input {
        width: 650px;
        position: relative;
        left: 13px;
        bottom: 15px;
    }

    select{
        position: relative;
        left: 200px;
        bottom: 120px;
        background: #F8F9FA;
        border: 2px solid #F8F9FA;
        border-radius: 8px;
        color: black;
        width: 450px;
    }
    .type-name {
        color: #212529;
        position: relative;
        left: 200px;
        bottom: 145px;
        font-size: 12px;
        width: 78px;
    }


    .list-total {
        border: 2px solid #E9ECEF;
        width: 615px;
        position: relative;
        left: 40px;
    }

    .title-before {
        color: #343A40;
        font-size: 22px;
        position: relative;
        left: 108px;
        width: 900px;
    }

    ul > li {
        display: flex;
        flex-direction: column;
        border-left: 7px solid #03B898;
        position: relative;
        left: -30px;
        width: 300px;
    }
    .list-scroll {
        overflow-y: scroll;
        max-height: 230px;
        width: 600px;
    }
}


@media (min-width:1000px) {
    .container{
     width: 199.237443vh;
     height: 104vh;
    } 

    .title-nu {
     position: relative;
     left: 230px;
     width: 150px;

    }

    .title-kenzie{
     position: relative;
     left: 270px;
     width: 150px;
    }

    .logout {
     position: relative;
     left: 1050px;
    }

    form {
     position: relative;
     left: 250px;
     top: 33px;
    width: 500px !important;
    }

    .list-total {
     position: relative;
     left: 110px;
     top: 20px;
     width: 500px;
    }

    h5 {
     position: relative;
     bottom: 520px;
     left: 650px;
     width: 150px;
    }

    .title-before {
     position: relative;
     bottom: 500px;
     left: 615px;
     width: 600px;
    }
    ul {
     position: relative;
     top: -500px;
     left: 640px;
     width: 560px;
     height: 87px;
    }

    .list-scroll{
        max-height: 600px !important;
        overflow-y: auto;
        height: 800px;
    }

    .header{
     position: relative;
     left: 200px !important;
    }
    .input {
        width: 420px;
        position: relative;
        left: 13px;
        bottom: 15px;
    }
    select {
        position: relative;
        left: 200px;
        bottom: 120px;
        background: #F8F9FA;
        border: 2px solid #F8F9FA;
        border-radius: 8px;
        color: black;
        width: 280px;
    }

    .set-value {
        position: relative;
        left: 271px;
        bottom: 60px;
        background-color: #FD377E;
        color: white;
        width: 454px;
    }




    .list {
        position: relative;
        left: 312px;
        width: 3031px;
        height: 389px;
    }
}


@media (min-width:1100px) {
    .container{
        width: 199.237443vh;
        height: 104vh;
       } 
   
       .title-nu {
        position: relative;
        left: 230px;
        width: 150px;
   
       }
   
       .title-kenzie{
        position: relative;
        left: 270px;
        width: 150px;
       }
   
       .logout {
        position: relative;
        left: 1050px;
       }
   
       form {
        position: relative;
        left: 350px;
        top: 33px;
       width: 500px !important;
       }
   
       .list-total {
        position: relative;
        left: 220px;
        top: 20px;
       }
   
       h5 {
        position: relative;
        bottom: 520px;
        left: 650px;
        width: 150px;
       }
   
       .title-before {
        position: relative;
        bottom: 500px;
        left: 630px;
        width: 600px;
       }
       ul {
        position: relative;
        top: -500px;
        left: 640px;
        width: 560px;
        height: 87px;
       }
   
       .list-scroll{
           max-height: 600px !important;
           overflow-y: auto;
           height: 800px;
           }
   
       .header{
        position: relative;
        left: 300px !important;
       }
       .input {
           width: 420px;
           position: relative;
           left: 13px;
           bottom: 15px;
       }
       select {
           position: relative;
           left: 200px;
           bottom: 120px;
           background: #F8F9FA;
           border: 2px solid #F8F9FA;
           border-radius: 8px;
           color: black;
           width: 280px;
       }
   
       .set-value {
           position: relative;
           left: 379px;
           bottom: 60px;
           background-color: #FD377E;
           color: white;
           width: 454px;
       }
   
   
   
   
       .list {
           position: relative;
           left: 432px;
           width: 3031px;
           height: 389px;
       }
}



@media (min-width:1300px) {
    .container{
        width: 199.237443vh;
        height: 104vh;
       } 
   
       .title-nu {
        position: relative;
        left: 230px;
        width: 150px;
   
       }
   
       .title-kenzie{
        position: relative;
        left: 270px;
        width: 150px;
       }
   
       .logout {
        position: relative;
        left: 1050px;
       }
   
       form {
        position: relative;
        left: 550px;
        top: 33px;
       width: 500px !important;
       }
   
       .list-total {
        position: relative;
        left: 220px;
        top: 20px;
       }
   
       h5 {
        position: relative;
        bottom: 520px;
        left: 850px;
        width: 150px;
       }
   
       .title-before {
        position: relative;
        bottom: 500px;
        left: 730px;
        width: 600px;
       }
       ul {
        position: relative;
        top: -500px;
        left: 640px;
        width: 560px;
        height: 87px;
       }
   
       .list-scroll{
           max-height: 600px !important;
           overflow-y: auto;
           height: 800px;
       }
   
       .header{
        position: relative;
        left: 500px !important;
       }
       .input {
           width: 420px;
           position: relative;
           left: 13px;
           bottom: 15px;
       }
       select {
           position: relative;
           left: 200px;
           bottom: 120px;
           background: #F8F9FA;
           border: 2px solid #F8F9FA;
           border-radius: 8px;
           color: black;
           width: 280px;
       }
   
       .set-value {
           position: relative;
           left: 579px;
           bottom: 60px;
           background-color: #FD377E;
           color: white;
           width: 454px;
       }
   
   
   
   
       .list {
           position: relative;
           left: 632px;
           width: 3031px;
           height: 389px;
       }
}

@media (min-width:1600px) {
    .container{
        width: 199.237443vh;
        height: 104vh;
       } 
   
       .title-nu {
        position: relative;
        left: 330px;
        width: 150px;
   
       }
   
       .title-kenzie{
        position: relative;
        left: 370px;
        width: 150px;
       }
   
       .logout {
        position: relative;
        left: 1350px;
       }
   
       form {
        position: relative;
        left: 750px;
        top: 33px;
       width: 500px !important;
       }
   
       .list-total {
        position: relative;
        left: 220px;
        top: 20px;
       }
   
       h5 {
        position: relative;
        bottom: 520px;
        left: 850px;
        width: 150px;
       }
   
       .title-before {
        position: relative;
        bottom: 500px;
        left: 730px;
        width: 600px;
       }
       ul {
        position: relative;
        top: -500px;
        left: 640px;
        width: 560px;
        height: 87px;
       }
   
       .list-scroll{
           max-height: 600px !important;
           overflow-y: auto;
           height: 800px;
       }
   
       .header{
        left: 577px !important;
            position: relative;
        width: 679vw;
        max-width: 110%;
       }
       .input {
           width: 420px;
           position: relative;
           left: 13px;
           bottom: 15px;
       }
       select {
           position: relative;
           left: 200px;
           bottom: 120px;
           background: #F8F9FA;
           border: 2px solid #F8F9FA;
           border-radius: 8px;
           color: black;
           width: 280px;
       }
   
       .set-value {
           position: relative;
           left: 779px;
           bottom: 60px;
           background-color: #FD377E;
           color: white;
           width: 454px;
       }
   
   
   
   
       .list {
           position: relative;
           left: 915px;
           width: 1031px;
           height: 389px;
       }


       .resolved-background {
        background-color: #FFFFFF;
        height: 101vh;
        width: 135vw;
    }
}


@media (min-width:1800px) {
    .container{
        width: 199.237443vh;
        height: 104vh;
       } 
   
       .title-nu {
        position: relative;
        left: 530px;
        width: 150px;
   
       }
   
       .title-kenzie{
        position: relative;
        left: 572px;
        width: 150px;
       }
   
       .logout {
        position: relative;
        left: 1650px;
       }
   
       form {
        position: relative;
        left: 930px;
        top: 33px;
       width: 500px !important;
       }
   
       .list-total {
        position: relative;
        left: 3px;
        top: 20px;
       }
   
       h5 {
        position: relative;
        bottom: 520px;
        left: 850px;
        width: 150px;
       }
   
       .title-before {
        position: relative;
        bottom: 500px;
        left: 730px;
        width: 600px;
       }
       ul {
        position: relative;
        top: -500px;
        left: 640px;
        width: 560px;
        height: 87px;
       }
   
       .list-scroll{
           max-height: 600px !important;
           overflow-y: auto;
           height: 900px;
       }
   
       .header{
        left: 577px !important;
            position: relative;
        width: 979vw;
        max-width: 110%;
       }
       .input {
           width: 420px;
           position: relative;
           left: 13px;
           bottom: 15px;
       }
       select {
           position: relative;
           left: 200px;
           bottom: 120px;
           background: #F8F9FA;
           border: 2px solid #F8F9FA;
           border-radius: 8px;
           color: black;
           width: 280px;
       }
   
       .set-value {
           position: relative;
           left: 949px;
           bottom: 60px;
           background-color: #FD377E;
           color: white;
           width: 454px;
       }
   
   
   
   
       .list {
           position: relative;
           left: 1096px;
           width: 1031px;
           height: 389px;
       }


       .resolved-background {
        background-color: #FFFFFF;
        height: 101vh;
        width: 135vw;
    }
}


@media (min-width: 2400px)
{
    .container{
        width: 199.237443vh;
        height: 104vh;
       } 
   
       .title-nu {
        position: relative;
        left: 530px;
        width: 150px;
   
       }
   
       .title-kenzie{
        position: relative;
        left: 572px;
        width: 150px;
       }
   
       .logout {
        position: relative;
        left: 1650px;
       }
   
       form {
        position: relative;
        left: 1230px;
        top: 33px;
       width: 500px !important;
       }
   
       .list-total {
        position: relative;
        left: 3px;
        top: 20px;
       }
   
       h5 {
        position: relative;
        bottom: 520px;
        left: 850px;
        width: 150px;
       }
   
       .title-before {
        position: relative;
        bottom: 500px;
        left: 730px;
        width: 600px;
       }
       ul {
        position: relative;
        top: -500px;
        left: 640px;
        width: 560px;
        height: 87px;
       }
   
       .list-scroll{
           max-height: 600px !important;
           overflow-y: auto;
           height: 1200px;
       }
   
       .header{
        left: 877px !important;
            position: relative;
        width: 1979vw;
        max-width: 200%;
       }
       .input {
           width: 420px;
           position: relative;
           left: 13px;
           bottom: 15px;
       }
       select {
           position: relative;
           left: 200px;
           bottom: 120px;
           background: #F8F9FA;
           border: 2px solid #F8F9FA;
           border-radius: 8px;
           color: black;
           width: 280px;
       }
   
       .set-value {
           position: relative;
           left: 1249px;
           bottom: 60px;
           background-color: #FD377E;
           color: white;
           width: 454px;
       }
   
   
   
   
       .list {
           position: relative;
           left: 1396px;
           width: 1031px;
           height: 389px;
       }


       .resolved-background {
        background-color: #FFFFFF;
        height: 101vh;
        width: 135vw;
    }
  
}